*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/qemu-system-mips
app/src/main/assets/*.elf
app/src/main/assets/*.img
